<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gps_sensor" params="parent prefix *origin">
        <!-- Fixed joint to parent (chassis) -->
        <joint name="${prefix}_gps_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${prefix}_gps_link" />
        </joint>

        <!-- Simple blue box visual -->
        <link name="${prefix}_gps_link">
            <visual>
                <geometry>
                    <box size="0.05 0.05 0.05" />
                </geometry>
                <material name="blue">
                    <color rgba="0 0 1 1" />
                </material>
            </visual>
        </link>

        <!-- GPS/NavSat sensor plugin -->
        <gazebo reference="${prefix}_gps_link">
            <sensor name="${prefix}_navsat" type="navsat">
                <always_on>true</always_on>
                <update_rate>100</update_rate>
                <topic>/gps/fix</topic>
                <plugin filename="libgz-sim-navsat-system.so" name="gz::sim::systems::NavSat">
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>