<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="apollo_ros2_control" params="name prefix use_mock_hardware">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
        <param name="calculate_dynamics">true</param>
      </hardware>
      <joint name="Left_FrontMotor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Left_MiddleMotor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Left_BackMotor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Right_FrontMotor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Right_MiddleMotor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Right_BackMotor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>
  <gazebo>
    <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find apollo_control)/config/control.yaml</parameters>
    </plugin>
  </gazebo>
</robot>